{{define "content"}}

  <header>
    <h1 class="page-title">{{.title}}</h1>
  </header>

  <main>
    <section class="home-form">
      <div class="err-msg">
        <p class="err-msg">{{.err}}</p>
      </div>

      <form action="/new/?=url" method="post" class="generic-url">
        <div>
          <label for="source"><pre>Enter url to shorten</pre></label>
          <input type="text" title="Enter url" required maxlength="2000" name="source" 
                 id="destination_url" placeholder="https://" value="{{.url.Source}}" 
                 oninvalid="setCustomValidity('Max characters exceeded: 2000')">
        </div>
        <button type="submit" class="ittify" title="Click to shorten url"><h3>ittify</h3></button>
      </form>

    </section>

    <br><br>

    <section class="generated-url-section">
      <span class="generated-url center-content {{or .url.Path "hidden"}}">ittyurl.me/{{.url.Path}}</span><br>
      <input type="text" id="copy-url" name="copy-url" value="ittyurl.me/{{.url.Path}}"><br>
      <button id="copy-btn" title="Click to copy url" onclick="copyUrl()" class="{{or .url.Path "hidden"}}">Copy Url</button>
    </section>
    
    <section class="signin-features hidden">
      <h3 class="suggest-signin">Sign-in for additional features</h3><br>
      <a href="#" class="button cta">Learn More</a>
    </section>

  </main>
{{end}}