{% extends 'base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block body %}

    <header>
        <h1 class="page-title">Privacy Policy</h1>
    </header>

    <main class="legal">
        <aside class="legal table-of-contents">
            <h3 class="toc-title center-content">Table of Contents</h3>
            <ol class="toc-ol">
                <li><a href="#data-collected">Data Collected</a></li>
                <li><a href="#data-usage">Data Usage</a></li>
                <li><a href="#data-protection">Data Protection</a></li>
                <li><a href="#acceptance">Policy Acceptance</a></li>
            </ol>
        </aside>
        
        <aside class="legal-intro">
            <p>
                To provide functionality and an optimal experience for visitors, websites collect personal information. 
                As website owners, we have a moral and legal obligation to inform you about the collection and use data associated with your use of this site. 
                This privacy policy details what information we collect and how collected information is used.
                <br><br>
                We collect some personal information from all visitors. We value and respect your privacy, 
                and we are doing our best to ensure your information is handled respectfully and responsibly.
            </p>
        </aside>

        <section class="terms-detailed">
            <ol class="terms-list">
                <li class="terms-item" id="data-collected">
                    <h2>Data Collected</h2><br>
                    <p>Although not all data listed below is collected for every visitor, 
                        our website may collect the following information depending on the 
                        nature of your business or visit.
                    </p>
                    <ul>
                        <li><strong>Personally Identifiable Information ("PII")</strong>
                            <ul>
                                <li>Name</li>
                                <li>Email</li>
                                <li>Account information</li>
                                <li>Payment information</li>
                            </ul> 
                        </li>
                        <li><strong>Non-personally Identifiable Information</strong>
                            <ul>
                                <li>User provided input (e.g., comments, form submission,survey responses)</li>
                                <li>User behavior and trends on the site.</li>
                                <li>IP address</li>
                                <li>Web browser and cookies</li>
                            </ul>
                        </li>
                        <li><strong> Any additional data incidental to fulfilling orders, customer support, 
                            or contractual obligations.</strong>
                        </li>
                    </ul>
                </li><br><br>
                <li class="terms-item" id="data-usage">
                    <h2>Data Usage</h2><br>
                    <p>The guiding principle we abide by is to share or use collected data only to the extent 
                        necessary to facilitate the below obligations and commitments to our visitors and clients.
                    </p>
                    <ul>
                        <li><strong>To operate essential functions and services, such as:</strong>
                            <ul>
                                <li>Process payment of invoices and purchases on the site</li>
                                <li>Fulfill orders, services, or other obligations with clients</li>
                                <li>Record-keeping</li>
                                <li>Create and maintain client accounts and profiles</li>
                                <li>Communicate directly and effectively with visitors and clients, 
                                    respond to requests and support needs</li>
                            </ul>
                        </li>
                        <li><strong>To optimize user experience</strong>
                            <ul>
                                <li>Embedded content from other sites may collect information on your 
                                    interaction with their content.</li>
                                <li>Send emails as appropriate to clients</li>
                                <li>To negotiate on behalf of a client regarding incidental assets and services</li>
                                <li><strong>Cookies</strong>: This website only uses cookies to improve the user’s experience 
                                    and for functional purposes. It does not use cookies for tracking the user’s 
                                    activity or any other purpose</li>
                            </ul>
                        </li>
                        <li><strong>To improve the website</strong>
                            <ul>
                                <li><strong>Google Adsense</strong>: Some of the ads may be served by Google. Google’s 
                                    use of the DART cookie enables it to serve ads to Users based on their visit to our Site 
                                    and other sites on the Internet. DART uses “non personally identifiable information” 
                                    and does NOT track personal information about you, such as your name, email address, 
                                    physical address, etc. You may opt out of the use of the DART cookie by visiting the 
                                    Google ad and content network <a href="https://policies.google.com/technologies/ads">privacy policy</a>.
                                </li>
                                <li><strong>Google Analytics</strong>: Google Analytics records and sends website traffic data to Google 
                                    servers in the United States. Google Analytics does not identify individual users or 
                                    associate your IP address with any other data held by Google. The reports provided by 
                                    Google Analytics help us understand website traffic and webpage usage. Using this data, 
                                    we can make decisions about the future growth and operation of our website and our 
                                    business. (Google <a href="https://policies.google.com/privacy?hl=en-US">privacy policy</a>)
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li><br><br>
                <li class="terms-item" id="data-protection">
                    <h2>Data Protection</h2>
                    <ul>
                        <li><strong>Personal Identifiable Information (PII)</strong>: We do not sell, trade, 
                            or rent users’ personal identification information to others. We may share generic 
                            aggregated demographic information not linked to any PII regarding visitors and 
                            users with our business partners, trusted affiliates and advertisers for the purposes 
                            outlined above. We may use third party service providers to help us operate our 
                            business and the Site or administer activities on our behalf, such as sending out 
                            newsletters or surveys. We may share your information with these third parties for 
                            those limited purposes provided that you have given us your explicit or implicit 
                            permission.
                        </li>
                        <li><strong>Billing information</strong>: Payments made on this site are not 
                            collected or processed by this site. To ensure the security of your sensitive 
                            payment information, Stripe collects and processes all payments. Stripe is a leading 
                            payment service provider. (Stripe <a href="https://stripe.com/gb/privacy">privacy policy</a>.)
                        </li>
                        <li><strong>Data retention:</strong>
                            <ul>
                                <li><strong>Cookies</strong>: If you leave a comment on our site you may opt-in 
                                    to saving your name, email address and website in cookies. These are for 
                                    your convenience so that you do not have to fill in your details again when 
                                    you leave another comment. These cookies will last for one year. If you have 
                                    an account and you log in to this site, we will set a temporary cookie to 
                                    determine if your browser accepts cookies. This cookie contains no personal 
                                    data and is discarded when you close your browser. When you log in, we will 
                                    also set up several cookies to save your login information and your screen 
                                    display choices. Login cookies last for two days, and screen options cookies 
                                    last for a year. If you select “Remember Me”, your login will persist for two 
                                    weeks. If you log out of your account, the login cookies will be removed. If 
                                    you edit or publish an article, an additional cookie will be saved in your 
                                    browser. This cookie includes no personal data and simply indicates the post 
                                    ID of the article you just edited. It expires after 1 day.
                                </li>
                                <li><strong>Other personal data</strong>: All personal data stored on our database 
                                    may be held indefinitely. You may request an extracted copy of your data. You 
                                    may also request that we delete your personal data from our database. Our policy 
                                    is to honor your request to delete your data except for information required for 
                                    legal or administrative purposes.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li><br><br>
                <li class="terms-item" id="acceptance">
                    <h2>Policy Acceptance</h2>
                    <p>By using this site, you are presumed to have accepted this policy in its 
                        entirety. If you do not agree to any provision of this policy, please do not use 
                        this site. We reserve the right to update and amend this policy. By continuing to 
                        use this site following these changes, you are presumed to have also accepted the 
                        respective changes.
                    </p>
                </li>
            </ol>

            <p>Please feel free to contact us with any questions or concerns about this privacy policy. 
                We value your privacy and always seek ways to improve our service!
            </p>
        </section>
    </main>
{% endblock %}